# Exercises: Working with Databases in Python

For the exercises, we will be practicing the steps outlined in this [article](https://towardsdatascience.com/do-you-know-python-has-a-built-in-database-d553989c87bd). You can skip the portion where the author downloads a separate SQL client to examine the database.

## Import Libraries

We will need `pandas` and `sqlite3`. SQLite is a small, self-contained database engine that comes with Python so you will not have to do any additional installations for this lesson. If you want to connect to a different database engine, such as SQL server, you may need additional libraries such as `sqlalchemy` or `pyodbc` and a tool called a driver which helps to connect a database to an application.

In [15]:
# Import sqlite3 and pandas.
import sqlite3
import pandas as pd

## Create a Database

In the article, the author shows how to use `sqlite3` to open a connection to an existing database or create a new one. Use this method to make a new database called `exercises.db`.

In [16]:
# Create a new database called exercises.db.
conn = sqlite3.connect('exercises.db')

## Create a Table

Follow the steps in the article to create a table called `favorite_books.db`. This table should include columns for the title, author, and a short description of why it is a favorite.

In [17]:
# Create a new table in your database.
conn.execute('''CREATE TABLE exercises.dbo.favorite_books
         (ID INT PRIMARY KEY     NOT NULL,
         Title           TEXT    NOT NULL,
         Author            TEXT     NOT NULL,
         Description        TEXT);''')
print "Table created successfully";

## Insert Records

Add 3 entries to your table for your top 3 favorite books.

In [18]:
# Add your 3 favorite books to your table.
conn.execute("INSERT INTO exercises.dbo.favorite_books (Title,Author,Description) \
      VALUES (1, 'A Wrinkle in Time', 'Madeleine L'Engle', 'Iconic fantasy about found family, healing, resisting the call of the Void, and space-time')");

conn.execute("INSERT INTO exercises.dbo.favorite_books (Title,Author,Description) \
      VALUES (2, 'Anathem', Neal Stephenson, 'speculative-fiction about a world that could be ours, but isn't quite, tackling cycles of civilization, love, death, world-changing events that are also galactic in scope, and what one person can do - with the right people around them, no matter how small. the book is better enjoyed with a background in classics, an experience akin to monastic life or a year in seminary, and a thorough understanding of international relations over a period of centuries and millenia, but is still enjoyable as-is without those things. also, has neat math tutorials.')");

conn.execute("exercises.dbo.favorite_books (Title,Author,Description) \
      VALUES (3, 'Illium', Dan Simmons, 'Part 1 of 2 of a fun, but also sort of dystopian, yet hopeful, sci-fi yarn that tackles both Bronze Age classical mythology, a speculative future, and friendly robots from Jupiter-space')");

conn.execute("exercises.dbo.favorite_books (Title,Author,Description) \
      VALUES (4, 'Olympus', Dan Simmons, 'Part 2 of 2 of a fun, but also sort of dystopian, yet hopeful, sci-fi yarn that tackles both Bronze Age classical mythology, a speculative future, and friendly robots from Jupiter-space ')");

conn.commit()
print "Records created successfully";
conn.close()

## Query Your Table

Write a `SELECT` query to output the 3 records in your table.

In [19]:
# Write your SELECT query here.
cursor = conn.execute("SELECT Title, Author, Description, from exercises.dbo.favorite_books")
for row in cursor:
   print "Title = ", row[0]
   print "Author = ", row[1]
   print "Description = ", row[2], "\n"

print "Operation done successfully";
conn.close()

## Create a New Table with Pandas

Create a new table called `favorite_movies` with your top 3 favorite movies. Each movie should have an id and a title. This time, use Pandas to first make a dataframe and then write the dataframe to SQL. Write a `SELECT` query to confirm that the new table does have your top 3 favorite movies.

In [20]:
# Use Pandas to make a new table in your database.

#doing it wrong, making it in SQL and then accessing in python:

#conn.execute('''CREATE TABLE exercises.dbo.favorite_movies
#(ID INT PRIMARY KEY     NOT NULL,
#        Title           TEXT    NOT NULL,3
#         Year            INT     NOT NULL,
#         Director        TEXT);''')
#print "Table created successfully";

#conn.execute("INSERT INTO exercises.dbo.favorite_movies (Title,Year,Director) \
#      VALUES (1, 'Lord of the Rings: The Fellowship of the Ring', '2001', 'Peter Jackson')");

#conn.execute("INSERT INTO exercises.dbo.favorite_books (Title,Author,Description) \
#      VALUES (2, 'Lord of the Rings: The Two Towers',2002 , 'Peter Jackson')");

#conn.execute("exercises.dbo.favorite_books (Title,Author,Description) \
#      VALUES (3, 'Lord of the Rings: The Return of the King', 2003, 'Peter Jackson')");


#conn.commit()
#print "Records created successfully";
#conn.close()

favorite_movie = {'first_column':  ['Lord of the Rings: The Fellowship of the Ring', 'Lord of the Rings: The Two Towers', 'Lord of the Rings: The Return of the King'],
        'second_column': [2001, 2002, 2003'],
         third_column': ['Peter Jackson', 'Peter Jackson', 'Peter Jackson']
        }

favorite_movies = pd.DataFrame(favorite_movies)

print(favorite_movies)

favorite_movies = {'Title': ['Lord of the Rings: The Fellowship of the Ring', 'Lord of the Rings: The Two Towers', 'Lord of the Rings: The Return of the King'],
        'Year': [2001, 2002, 2003],
          'Director': ['Peter Jackson', 'Peter Jackson', 'Peter Jackson']
        }

favorite_movies = pd.DataFrame(data, index=['movie_1', 'movie_2', 'movie_3'])

print(favorite_movies)


# my dataframe
favorite_movies = pd.DataFrame({
    'Title': ['Lord of the Rings: The Fellowship of the Ring', 'Lord of the Rings: The Two Towers', 'Lord of the Rings: The Return of the King'],
    'Year': [2001, 2002, 2003],
    'Director': ['Peter Jackson', 'Peter Jackson', 'Peter Jackson']
})

# connect to the SQLite3 database ('exercises.db')
conn = sqlite3.connect('exercises.db')

# write the dataframe to SQLite3
favorite_movies.to_sql('favorite_movies', conn, if_exists='replace', index=False)

#close it out
conn.close()